
section{
  margin: 5vh 5vw;
  max-width: 50%;
  min-height: 90vh;

} 


.green-line{
  background: lightgreen;
  padding: 0.1em 1vw;
  margin: 0 5%;
}


h1{
  text-decoration-line: underline;
  text-decoration-color: lightgreen;
}

.navbar{
  position: fixed;
}