
section{
  max-width: 60%;
  margin-top: 6em;
}

h2{
  text-decoration-line: underline;
  text-decoration-color: lightgreen;
}

img{
  max-width: 30vh;
  width: 100%;
  height: auto;
 }

.ocultar{
    display: none;
 }


 #app > .pagina{
   display: none;
 }

 #app > .pagina.current {
  display: block;
 }

 ul, ol{
  padding: 0;
}


#Messages{
  margin-top: 6em;
}


.mdl-layout__container{
  max-width: 98%;
  max-height: 85%;
}