section{
  max-width: 60%;
  margin-top: 6em;
} 


h2{
  text-decoration-line: underline;
  text-decoration-color: lightgreen;
}

img{
  max-width: 30vh;
  width: 100%;
  height: auto;
 }

.ocultar{
    display: none;
 }


 #app > section{
   display: none;
 }

 #app > section.current {
  display: block;
 }

 ul, ol{
  padding: 0;
}


 